parameters:
	level: max
	paths:
		- src
		- tests/src
	strictRules:
		noVariableVariables: false
	checkGenericClassInNonGenericObjectType: false

includes:
	- vendor/phpstan/phpstan-strict-rules/rules.neon
