php:
    date.timezone: Europe/Prague

nette:
    container:
        debugger: TRUE

extensions:
    fioExtension: h4kuna\Fio\Nette\DI\FioExtension

fioExtension:
    account: "123456789 / 1234"
    token: 'loremIpsum86'

services:
    fioExtension.queue:
        class: h4kuna\Fio\Test\Queue